body{
    background-color: #C1B49A;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.icon{
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    
}
@keyframes spin{
    from{
        
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(265deg);
    }
    to{
        
        transform: rotate(365deg);
    }
}
main{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr;
}
.DNR{
    grid-column: 1/2;
    grid-row: 1/2;
}
.map{
    grid-column: 2/4;
    grid-row: 1/2
}
.peninsula{
    grid-column: 1/2;
    grid-row: 2/3;
}
.lapham{
    grid-column: 2/3;
    grid-row: 2/3;
}
.wissota{
    grid-column: 3/4;
    grid-area: 2/3;
}
header{
    margin: .75px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #0b132b65;
    position: relative;
}
header nav a{
    display: block;
    color: #C1B49A;
    text-decoration: none;
    padding: .3rem;
}
header nav :hover{
    text-decoration: underline;
    color: #C2D7A8;
}
footer{
    background-image: url(images/peninsulas-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    position: auto;
}
footer img{
    margin-left: 2rem;
}
h4{
    padding-top: .5rem;
    padding-right: .5rem;
}
section{
    background-color: #C2D7A8;
    width: fit-content;
    padding: 1rem;
    margin: 2rem;
    filter: drop-shadow(5px 5px 4px grey);
    border: 2px solid grey;
    max-width: 40rem;
}
.section img{
    object-fit: contain;
}
.DNR{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width:1000px){
    Body{
    display: ;
    }
}
