body{
    font-family: 'Cormorant Garamond';
    margin: 0;
    background-color: #c8d3c5; 
}
header{
    background-color: #799191;
    position: fixed;
    width: 100%;
    display:inline-block;
    top: 0;
}
header img{
    max-width: 25rem;
    margin: 0rem;
}
main{
    margin-top: 10rem;
}
header>nav>a{
    color: black;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    font-size: x-large;
    left: 500%;
}
section{
    font-family: 'Cormorant Garamond';
}
h2{
    font-size: xx-large;
}
p{
    font-size: 16px;
}
.contact{
    display: inline-block;
    width: 60%;
}
.ourstory{
    border: 4px solid #97afaf;
    border-radius: 4px;
    padding: 5px 20px;
    margin: 10px;
}
.ourstory>img{
    background-color: #7a9190;    
    padding: 5px;
    max-width: 350px;
    width: 35%;
    margin-right: 40px 40px;
} 
.dinner, .desserts, .beer, .specialtydrinks{
    background-color: #97afaf;
    border: 4px solid #627575;
    margin: 45px;
    padding: 0rem 2rem;
    width: 25%;
    display: inline-block;
    justify-content: center;
    vertical-align: top;
}
.beerimage img{
    background-color: #7a9190;    
    padding: 5px;
    width: 350px;
    margin-left: 200px;
    margin-bottom: 70px;
}
    
